.board{
    display: grid;
    background-color: blue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    width: 330px;
    height: 330px;
    /*put the board in the center*/
    margin: 0 auto;   
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 2em;
    cursor: pointer;
    width: 100px; /* セルの幅を固定する */
    height: 100px; /* セルの高さを固定する */
    border: 1px solid black; /* セルに枠線を追加する（任意） */
  }
  

.cell:hover{
    background-color: lightgray;
}


h1{
    display: block;
    text-align: center;
    margin: 20px;
}

.mark{
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 80px;
    color: red;
}

h2{
    display: block;
}
